<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление юзера</title>
</head>
<body>

<form method="POST" action="/users">
    <label for="first_name">Имя юзера:</label>
    <input name="f_n" type="text" id="first_name"/>
    <label for="last_name">Фамилия юзера:</label>
    <input name="l_n" type="text" id="last_name"/>
    <label for="e_mail">Почта:</label>
    <input name="e_m" type="text" id="e_mail"/>
    <input type="submit" value="Добавить">
</form>

</body>
</html>